body {
    background-image: url("/~desvox/bg.png");
    background-color: #000;
    background-attachment: fixed;
}

.plate {
    background: rgba(10, 10, 15, 0.70);
    max-width: 1200px;
    border: 5px solid rgba(160, 0, 87, 0.28);
    border-radius: 10px;
    color: #ccc;
    margin: 5%;
    margin-top: 2%;
    padding: 3%;
    font-size: 125%;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(60,175,236);
}

a:hover {
    text-decoration: none;
    color: rgb(217,11,100);
}

.headlinks {
    color: #AAA;
    font-size: 225%;
    font-family: 'Share Tech Mono', monospace
}

h2 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: normal;
}

p {
    font-family: 'Ubuntu Mono', monospace;
    margin: 5%;
    /* margin-bottom: 1%; */
    font-size: 125%;
    line-height: 125%;
    text-align: left;
}

.screenshot {
    border: 2px solid rgba(150, 100, 100, 0.65);
    border-radius: 4px;
    max-width: 75%
}
