<!DOCTYPE html>
<html>
<head>
    <title>Log In: BBJ</title>
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <center>
        <form action="/thread" autocomplete="off">
            <label for="coords">Coordinates:</label>
            <br>
            <input type="text" id="coords" name="coords">
            <br>
            <label for="label">Label:</label>
            <br>
            <input type="text" id="label" name="label">
            <br>
            <input type="submit" value="Request Document">
        </form>
    <center>
</body>
</html>