<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/base.css">
    <title>{{ thread["title"] }}: BBJ</title>
</head>
<script>
    thread_id = '{{ thread["thread_id"] }}'
</script>
<body>
    <div id="navbar">
        <span class="bbjLogo" onclick="window.location.href='/index'">&lt;- Index</span>
        {% if authorized_user %}
        <span>Logged in as <span class="color{{ authorized_user['color']}}">~{{ authorized_user["user_name"] }}</span></span>
        {% else %}
        <span>Not logged in.</span>
        {% endif %}
        <a class="navbarLink" href="/login">Set login info.</a>
      </div> 

    {% for message in thread["messages"] %}
    <div class="message">
        <div class="messageHeader">
            >{{ message["post_id"] }}
            <span class="color{{ usermap[message['author']]['color'] }}">{{ usermap[message["author"]]["user_name"] }}</span>
            @ <span class="datetime">{{ message["created"] }}</span>
        </div>
        <div class="messageBody">
            <pre>{{ message["body"] }}</pre>
        </div>
        <div class="messageFooter">
            {% if authorized_user %}
            <a id="replyLink{{ message['post_id'] }}" href="javascript:revealPostReplyBox({{ message['post_id'] }})">Direct reply.</a>
            <div class="directReplyBoxContainer" id="replyBox{{ message['post_id'] }}"></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</body>
<script src="/js/datetime.js"></script>
<script src="/js/postboxes.js"></script>
</html>